@media print {
	@page {
		font-size: 11pt;
		margin: 1cm;
		size: landscape;
	}

	::placeholder {
		color: transparent !important;
		text-shadow: none !important;
	}

	body {
		background: var(--bg-print);
		padding: 0;
	}

	input,
	textarea {
		background: transparent !important;
		border: none !important;
		color: black !important;
		padding: 2px 0 !important;
	}

	input[type='number'] {
		appearance: textfield;
	}

	#app {
		border: none;
		max-width: 100% !important;
		padding: 0;
		width: 100%;
	}

	.approach-row {
		background: none !important;
		border-bottom: 1px solid var(--border);
	}

	.no-print {
		display: none !important;
	}

	.print-only {
		display: block !important;
	}
}
