:root {
    color-scheme: light dark;
    --accent: light-dark(black, white);
    --bg: light-dark(white, black);
    --bg-print: light-dark(white, black);
    --border: light-dark(#eee, #444);
    --danger: light-dark(#900, #c00);
    --semi-bold: 600;
    --text: light-dark(#333, #ccc);
    --text2: light-dark(#777, #999);
    --text-inverse: light-dark(white, black);
}

body {
    background: var(--bg);
    color: var(--text);
    font-size: 12px;
    margin: 0;
    padding: 10px;
}

body, textarea {
    font-family: system-ui, sans-serif;
    font-size: 0.8rem;
}

button {
    background: var(--accent);
    border: none;
    color: var(--text-inverse);
    font-weight: var(--semi-bold);
    padding: 10px;
}

button.danger {
    background: var(--danger);
}

h2 {
    border-bottom: 1px solid var(--border);
    font-size: 1rem;
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

hr {
    background-color: var(--border);
    border: 0;
    height: 1px;
}

label {
    color: var(--text2);
    display: block;
    font-weight: var(--semi-bold);
    margin-bottom: 2px;
}

input,
textarea,
select {
    border: 1px solid var(--border);
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
}

#app {
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
}

.approach-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.approach-row {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.approach-row input {
    padding: 2px;
    text-align: center;
    width: 45px;
}

.aspect-guide-ui {
    display: flex;
    gap: 5px;
}

.consequences-grid {
    display: grid;
    grid-template-columns: max-content 1fr;
}

.dashboard {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}

.form-group {
    margin-bottom: 10px;
}

.form-group button,
.form-group input,
.form-group select {
    margin-bottom: 5px;
}

.form-group label {
    margin-bottom: 10px;
}

.high-concept-guide-ui {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.list-item {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.menu {
    border-bottom: 1px solid var(--border);
    border-top: 1px solid var(--border);
    display: flex;
    font-weight: var(--semi-bold);
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.menu li {
    display: block;
    flex: 1;
    margin: 0;
    padding: 0;
}

.menu li a {
    cursor: pointer;
    display: block;
    color: var(--accent);
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
}

.menu li a:hover {
    background: var(--accent);
    color: var(--text-inverse);
}

.print-only {
    display: none !important;
}

.save-status {
    color: var(--text2);
}

.stress-box {
    align-items: center;
    border: 2px solid var(--border);
    cursor: pointer;
    display: flex;
    font-weight: bold;
    height: 30px;
    justify-content: center;
    width: 30px;
}

.stress-box.checked {
    background: var(--border);
    color: var(--text-inverse);
}

.stress-track {
    display: flex;
    gap: 10px;
    margin: 5px 0;
}

.stunt-guide-ui {
    margin: 5px 0;
}

.trouble-guide-ui {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.vitality-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}
