:root {
    --accent: black;
    --bg: white;
    --bg-print: white;
    --border: #eee;
    --semi-bold: 600;
    --text: #333;
    --text2: #777;
    --text-inverse: white;
}

body {
    background: var(--bg);
    color: var(--text);
    font-size: 12px;
    margin: 0;
    padding: 10px;
}

body, textarea {
    font-family: system-ui, sans-serif;
    font-size: 0.8rem;
}

button {
    background: var(--accent);
    border: none;
    color: var(--text-inverse);
    font-weight: var(--semi-bold);
    padding: 10px;
}

h2 {
    border-bottom: 1px solid var(--border);
    font-size: 1rem;
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

hr {
    background-color: var(--border);
    border: 0;
    height: 1px;
}

label {
    color: var(--text2);
    display: block;
    font-weight: var(--semi-bold);
    margin-bottom: 2px;
}

input,
textarea,
select {
    border: 1px solid var(--border);
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
}

#app {
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
}

.approach-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.approach-row {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.approach-row input {
    padding: 2px;
    text-align: center;
    width: 45px;
}

.aspect-guide-ui {
    display: flex;
    gap: 5px;
}

.dashboard {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}

.form-group {
    margin-bottom: 10px;
}

.form-group button,
.form-group input,
.form-group select {
    margin-bottom: 5px;
}

.form-group label {
    margin-bottom: 10px;
}

.high-concept-guide-ui {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.list-item {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.menu {
    border-bottom: 1px solid var(--border);
    border-top: 1px solid var(--border);
    display: flex;
    font-weight: var(--semi-bold);
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.menu li {
    display: block;
    flex: 1;
    margin: 0;
    padding: 0;
}

.menu li a {
    cursor: pointer;
    display: block;
    color: var(--accent);
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
}

.menu li a:hover {
    background: var(--accent);
    color: var(--text-inverse);
}

.print-only {
    display: none !important;
}

.save-status {
    color: var(--text2);
}

.stress-box {
    align-items: center;
    border: 2px solid var(--border);
    cursor: pointer;
    display: flex;
    font-weight: bold;
    height: 30px;
    justify-content: center;
    width: 30px;
}

.stress-box.checked {
    background: var(--border);
    color: var(--text-inverse);
}

.stress-track {
    display: flex;
    gap: 10px;
    margin: 5px 0;
}

.stunt-guide-ui {
    margin: 5px 0;
}

.trouble-guide-ui {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.vitality-container {
    align-items: flex-end;
    display: flex;
    gap: 10px;
}

@media print {
    @page {
        font-size: 11pt;
        margin: 1cm;
        size: landscape;
    }

    body {
        background: var(--bg-print);
        padding: 0;
    }

    input,
    textarea {
        background: transparent !important;
        border: none !important;
        color: black !important;
        padding: 2px 0 !important;
    }

    #app {
        border: none;
        max-width: 100% !important;
        padding: 0;
        width: 100%;
    }

    .approach-row {
        background: none !important;
        border-bottom: 1px solid var(--border);
    }

    .no-print {
        display: none !important;
    }

    .print-only {
        display: block !important;
    }
}
